.order-history-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 178px;
}

@media (max-width: 900px) {
  .order-history-grid {
    grid-template-columns: auto;
  }
}
