.single-product h1 {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
}

.single-product-page {
  height: 100%;
  width: 100%;
}

.single-product {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.single-product-details-wrapper {
  padding: 0 20px;
  padding-bottom: 20px;
  border: 1px solid #c7c7c7;
  border-top: none;
}

.single-product-details-btns button:hover {
  cursor: pointer;
}

.single-product-category a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #989898;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.single-product-category {
  padding-top: 10px;
}

.single-product-detailed-description {
  font-family: "Domine", serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin: 0 120px 20px 120px;
  word-break: break-word;
}

.single-product-details-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
}

.single-product-details-btn {
  width: 500px;
  padding: 12px 7px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-weight: 500;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  height: 36px;
  line-height: 1;
}

.delete-product-btn,
.delete-product-img-btn {
  width: 500px;
  padding: 12px 7px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-weight: 700;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  height: 36px;
  line-height: 1;
}

.delete-product-btn,
.delete-product-img-btn {
  background-color: rgba(255, 0, 0, 0.298);
  margin-top: 20px;
}

.btn-add-cart {
  background-color: black;
  margin-bottom: 20px;
}

.btn-stash-later {
  background-color: rgb(113, 73, 73);
}

.single-product-details-greentxt {
  color: #57ab57;
  text-transform: uppercase;
  font-family: "Animo", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.already-in-stash {
    width: 500px;
    padding: 12px 7px;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: 500;
    border: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.5px;
    height: 36px;
    line-height: 1;
    background-color: rgba(113, 73, 73, 0.549);
    cursor: default;
}

@media (max-width: 980px) {
  .single-product {
    padding: 0 20px;
  }

  .single-product-details-wrapper {
    width: 100%;
  }

  .single-product-details {
    max-width: 680px;
    margin: 0 auto;
  }

  .single-product-detailed-description {
    margin-left: 0;
    margin-right: 0;
  }

  .single-product-details button {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 780px) {
  .single-product {
    margin-top: 60px;
  }
}
