.login-form {
  padding: 40px 80px 60px 80px;
  border: 2px solid black;
  border-radius: 5px;
}

.login-form-btns {
  display: flex;
  flex-direction: column;
}

.login-form-title {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.login-form-field-top {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height: 57px;
  width: 468px;
  padding: 16px;
}

.login-form-field {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 57px;
  width: 468px;
  padding: 16px;
}

.login-form-label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding-right: 40px;
}

.login-form-field-top input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: none;
  margin-left: 50px;
  width: 200px;
}

.login-form-field input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: none;
  margin-left: 20px;
  width: 300px;
}

.login-form-input:focus {
  outline: none;
}

.login-errors {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.login-submit {
  width: 468px;
  margin-top: 30px;
  padding: 12px 7px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  font-weight: 700;
  border: none;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.5px;
  height: 36px;
  line-height: 1;
  background-color: black;
  cursor: pointer;
}

.login-with-demo-submit {
    margin-top: 15px;
    background-color: rgb(113, 73, 73);
}

.login-form-input:-webkit-autofill,
.login-form-input:-webkit-autofill:hover,
.login-form-input:-webkit-autofill:focus,
.login-form-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
