.profile-page {
    display: flex;
    flex-direction: column;
}

.add-product-btn {
    color: black;
    position: relative;
    top: .15em;
    transition: scale 0.35s ease;
}

.add-product-btn:hover {
    scale: 1.25;
}

.product-preview-img {
    object-fit: cover;
    object-position: center;
    width: 468px;
    height: 313px;
    margin-bottom: 10px;
  }

.my-listings {
    margin: 20px auto auto auto;
    max-width: 960px;
    width: 100%;
    font-size: 24px;
    display: flex;
    column-gap: 1em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    justify-content: space-between;
    padding-top: 20px;
    text-decoration: none;
    align-items: center;
}

.user-products {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 40px;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 960px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 80px;
    margin-top: 10px;
    margin-left: 0.7em;
    margin-right: 0.7em;
    position: relative;
    border: 1px solid rgb(128, 128, 128, 0.4);
    max-width: 468px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.edit-listing {
    margin-top: 10px;
    width: 400px;
    padding: 12px 7px;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: 700;
    border: none;
    font-family: "Roboto", sans-serif;
    height: 36px;
    line-height: 1;
    background-color: black;
    cursor: pointer;
}

.delete-listing {
    margin-top: 10px;
    width: 400px;
    padding: 12px 7px;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    font-weight: 700;
    border: none;
    font-family: "Roboto", sans-serif;
    height: 36px;
    line-height: 1;
    background-color: rgb(113, 73, 73);
    cursor: pointer;
}

.my-listings-title {
    margin-left: 32px;
    font-size: 32px;
}

@media (max-width: 1000px) {
  .user-products {
    grid-template-columns: auto;
  }
}
