.DisplayFrame {
  touch-action: none;
  width: 100%;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #c7c7c7;
  border-bottom: 0;
}

.DisplayFrame::-webkit-scrollbar {
  display: none;
}

.LeftArrow,
.RightArrow {
  user-select: none;
  position: absolute;
  top: 45%;
  cursor: pointer;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: white;
}

.LeftArrow {
  left: 1px;
}

.RightArrow {
  right: 1px;
}

.ContainerCursor {
  position: relative;
  display: flex;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.Container {
  position: relative;
  display: flex;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.CarouselItem {
  touch-action: none;
  height: auto;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  transition: all 300ms ease-out;
}

.FastAnimation {
  transition: all 50ms linear;
}

.CarouselItem img {
  max-width: 100%;
  background-color: none;
  border-bottom: 1px solid #c7c7c7;
}
